.input-error {
    color: #f00
}

.has-error {
    border: 1px solid #f00;
}

.required {
    color: #f00;
    font-size: 14px;
    font-weight: 600;
}

.select2-selection__choice {
    background: #000 !important;
}